<div class="container mx-auto">
  <div class="flex flex-wrap justify-center">
    <div class="w-full md:w-1/2 lg:w-6/12 px-4">
    </div>
    <div class="w-full md:w-1/2 lg:w-6/12 px-4">
      <div class="flex flex-col justify-center h-full">
        <div class="form-login box mx-auto">
          <h3 class="core-sprite brand-name-img"></h3>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control py-3 px-4 w-full border rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-transparent" %>
        </div>

        <div class="form-group">
          <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control py-3 px-4 w-full border rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-transparent" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="form-check mb-4">
            <%= f.check_box :remember_me, class: "form-check-input" %>
            <%= f.label :remember_me, class: "form-check-label ml-2 text-sm text-gray-600" %>
          </div>
        <% end -%>

        <br>

        <div class="actions">
          <%= f.submit "Log in", class: "bg-indigo-500 text-white font-bold py-3 px-6 rounded focus:outline-none focus:shadow-outline hover:bg-indigo-700" %>
        </div>
        <br>
      <% end %>
    </div>
    <div class="redirect-links box mx-auto">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
  </div>
</div>
