<div class="container mx-auto sm:px-4">
  <div class="flex flex-wrap ">
    <div class="lg:w-1/2 pr-4 pl-4 landing-left">
        <h1>Hola</h1>
    </div>
    <div class="lg:w-1/2 pr-4 pl-4 landing-right text-center flex items-center">
      <div>
        <div class="form-login box">
          <h3 class="core-sprite brand-name-img"></h3>

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="mb-4">
              <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control" %>
            </div>

            <div class="mb-4">
              <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="relative block mb-2">
                <%= f.check_box :remember_me, class: "form-check-input" %>
                <%= f.label :remember_me, class: "form-check-label" %>
              </div>
            <% end -%>

            <br>

            <div class="actions">
              <%= f.submit "Log in", class: "btn btn-primary" %>
            </div>
            <br>
          <% end %>
        </div>
        <div class="redirect-links box">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>